.resellerCustomer_table {
    border: 0.84px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding: 10px;
    margin: 1rem;
    overflow-x: auto;
}
tr th {
    color: rgba(124, 124, 124, 1);
}
tr td {
    color: rgba(62, 61, 61, 1);
}
.totalSubscription {
    background: linear-gradient(219.43deg, #C2C2C2 17.2%, rgba(10, 10, 10, 0.76) 57.44%, #0A0A0A 97.69%);
    border-radius: 16px;
}

@media (max-width : 640px) {
    .resellerCustomer_dashboard{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .resellerCustomer_table{
        margin: 1rem 0;
    }
    .resellerCustomer_options {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .resellerCustomer_options h1 {
        margin-bottom: 10px;
        margin-right: auto;
    }
    .resellerCustomer_options button{
        margin-bottom: 10px;
        width: 100%;
    }
    .searchInput {
        margin-bottom: 10px;
        width: 100%;
    }
}